.breeze-slides
  width: 100%
  max-width: 375px
  height: 200px
  overflow: hidden
  .scroll-box
    position: relative
    top: 0
    margin: 0
    padding: 0
    overflow: hidden
    .pannel-content
      float: left
      position: relative
      overflow: hidden
    
      img
        width: 100%
        height: 100%
