.progress
  position: relative
  background: #ff6c03
  width: 300px
  height: 20px
  .progress-text
    position: absolute
    z-index: 1
    &.middle
      top: -8px
    &.bottom
      top: 15px
    &.top
      top: -30px
  .current
    position: absolute
    height: 100%
    background: #ffbb9e
    max-width: 100%