<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="examples">
    <title>examples</title>
  </head>
  <body ontouchstart="">
  <%=htmlWebpackPlugin.files.webpackManifest%>
    <div id="app"></div>

  </body>
</html>
