
.back-top {
  position: fixed;
  bottom: 45px;
  z-index: 7;
  right: 20px;
  width: 45px;
  height: 45px;
  background: rgba(102, 102, 102, 0.64);
  text-align: center;
  line-height: 45px;
  border-radius: 100px;
  border: 1px solid #DADADA;
  color: #fff;
  font-size: 20px;
}