@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bdg5i8');
  src:  url('fonts/icomoon.eot?bdg5i8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bdg5i8') format('truetype'),
    url('fonts/icomoon.woff?bdg5i8') format('woff'),
    url('fonts/icomoon.svg?bdg5i8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-private-message:before {
  content: "\e928";
}
.icon-comment2:before {
  content: "\e929";
}
.icon-community:before {
  content: "\e930";
}
.icon-store:before {
  content: "\e931";
}
.icon-cool:before {
  content: "\e927";
}
.icon-EuroCup:before {
  content: "\e926";
}
.icon-add:before {
  content: "\e923";
}
.icon-camera:before {
  content: "\e924";
}
.icon-notify-active2:before {
  content: "\e925";
}
.icon-table:before {
  content: "\e913";
}
.icon-games:before {
  content: "\e921";
}
.icon-invitation:before {
  content: "\e91f";
}
.icon-speak:before {
  content: "\e920";
}
.icon-badge:before {
  content: "\e912";
}
.icon-man:before {
  content: "\e914";
}
.icon-woman:before {
  content: "\e922";
}
.icon-browse:before {
  content: "\e915";
}
.icon-calender-checked:before {
  content: "\e916";
}
.icon-close2:before {
  content: "\e917";
}
.icon-comment:before {
  content: "\e918";
}
.icon-historic_task:before {
  content: "\e919";
}
.icon-hot-1:before {
  content: "\e91a";
}
.icon-more2:before {
  content: "\e91b";
}
.icon-post2:before {
  content: "\e91c";
}
.icon-return:before {
  content: "\e91d";
}
.icon-top:before {
  content: "\e91e";
}
.icon-percent:before {
  content: "\e90e";
}
.icon-chart-pie:before {
  content: "\e90f";
}
.icon-coins-rmb:before {
  content: "\e910";
}
.icon-medical-box:before {
  content: "\e911";
}
.icon-family_diagnosis:before {
  content: "\e90d";
}
.icon-task:before {
  content: "\e90c";
}
.icon-tea:before {
  content: "\e90b";
}
.icon-discover:before {
  content: "\e905";
}
.icon-manage_money:before {
  content: "\e906";
}
.icon-wealth:before {
  content: "\e907";
}
.icon-gadget:before {
  content: "\e908";
}
.icon-home_page:before {
  content: "\e909";
}
.icon-information:before {
  content: "\e90a";
}
.icon-manage_moneyNewbie:before {
  content: "\e901";
}
.icon-ranking_list:before {
  content: "\e902";
}
.icon-reception_room:before {
  content: "\e903";
}
.icon-Storytelling:before {
  content: "\e904";
}
.icon-money-bag_2:before {
  content: "\e900";
}
.icon-section2:before {
  content: "\e648";
}
.icon-section-solid:before {
  content: "\e647";
}
.icon-Registration:before {
  content: "\e646";
}
.icon-Smile:before {
  content: "\e645";
}
.icon-DR-coin:before {
  content: "\e644";
}
.icon-Exclamation_mark:before {
  content: "\e643";
}
.icon-first_gold:before {
  content: "\e642";
}
.icon-fav-solid:before {
  content: "\e641";
}
.icon-integral-shop:before {
  content: "\e640";
}
.icon-add-interest:before {
  content: "\e63f";
}
.icon-uniE637:before {
  content: "\e637";
}
.icon-uniE638:before {
  content: "\e638";
}
.icon-uniE639:before {
  content: "\e639";
}
.icon-uniE63A:before {
  content: "\e63a";
}
.icon-uniE63B:before {
  content: "\e63b";
}
.icon-uniE63C:before {
  content: "\e63c";
}
.icon-uniE63D:before {
  content: "\e63d";
}
.icon-uniE63E:before {
  content: "\e63e";
}
.icon-close:before {
  content: "\e636";
}
.icon-more:before {
  content: "\e62f";
}
.icon-checked:before {
  content: "\e630";
}
.icon-group-top:before {
  content: "\e631";
}
.icon-group-high:before {
  content: "\e632";
}
.icon-service-private:before {
  content: "\e633";
}
.icon-unchecked:before {
  content: "\e634";
}
.icon-swipe:before {
  content: "\e635";
}
.icon-calculator:before {
  content: "\e62e";
}
.icon-search:before {
  content: "\e62d";
}
.icon-icon-reply-bold:before {
  content: "\e62b";
}
.icon-icon-like-bold:before {
  content: "\e62c";
}
.icon-rmb:before {
  content: "\e62a";
}
.icon-quote:before {
  content: "\e629";
}
.icon-anouncement:before {
  content: "\e625";
}
.icon-computer:before {
  content: "\e626";
}
.icon-avatar:before {
  content: "\e623";
}
.icon-radio-tower:before {
  content: "\e627";
}
.icon-page:before {
  content: "\e628";
}
.icon-level:before {
  content: "\e624";
}
.icon-account-active:before {
  content: "\e600";
}
.icon-post-active:before {
  content: "\e601";
}
.icon-forum-active:before {
  content: "\e602";
}
.icon-forum:before {
  content: "\e603";
}
.icon-topic-active:before {
  content: "\e604";
}
.icon-post:before {
  content: "\e605";
}
.icon-account:before {
  content: "\e606";
}
.icon-topic:before {
  content: "\e607";
}
.icon-add-friend:before {
  content: "\e608";
}
.icon-refresh:before {
  content: "\e609";
}
.icon-view:before {
  content: "\e60a";
}
.icon-arrow-forward:before {
  content: "\e60b";
}
.icon-arrow-back:before {
  content: "\e60c";
}
.icon-retweet:before {
  content: "\e60d";
}
.icon-archive:before {
  content: "\e60e";
}
.icon-share:before {
  content: "\e60f";
}
.icon-thumb_down:before {
  content: "\e610";
}
.icon-thumb_up:before {
  content: "\e611";
}
.icon-reply:before {
  content: "\e612";
}
.icon-edit:before {
  content: "\e613";
}
.icon-message:before {
  content: "\e614";
}
.icon-follow:before {
  content: "\e615";
}
.icon-arrow-left:before {
  content: "\e616";
}
.icon-arrow-up:before {
  content: "\e617";
}
.icon-arrow-down:before {
  content: "\e618";
}
.icon-arrow-right:before {
  content: "\e619";
}
.icon-fav:before {
  content: "\e61b";
}
.icon-friend:before {
  content: "\e61c";
}
.icon-message-unfold:before {
  content: "\e61d";
}
.icon-profile:before {
  content: "\e61e";
}
.icon-calendar:before {
  content: "\e61f";
}
.icon-error:before {
  content: "\e620";
}
.icon-notify-active:before {
  content: "\e621";
}
.icon-notify:before {
  content: "\e622";
}

