.breeze-btn
  padding: 0 20px
  height: 40px
  line-height: 1.5
  text-align: center
  border: 0
  background: #ff6c03
  border-radius: 4px
  color: #fff
  outline: none
  font-size: 14px

  &.breeze-btn-touch
    background: rgba(255,108,3,0.50)
    
  &.breeze-btn-large
    height: 50px
    font-size: 16px
    
  &.breeze-btn-small
    height: 30px
    font-size: 12px
    
  &.breeze-btn-disabled
    background: rgba(255,108,3,0.50)
    
  &.breeze-btn-loading
    background: rgba(255,108,3,0.50)
    
  .icon
    margin-right: 5px
    