.icon-demo
  display: flex
  flex-wrap: wrap
  .icon-wrap
    color: #333
    margin-bottom: 20px
    width: 120px
    height: 60px
    text-align: center
    .icon
      // display: block
      text-align: center
    .icon-name
      margin-top: 10px