.tab-switch-demo
  width: 375px;
  .tabs
    color: #666
    display: flex
    padding: 0 80px
    height: 84px
    line-height: 82px
    background: #fff
    ul
      display: flex
      width: 100%
      li
        flex: 1
        margin: 0 10px
        .tabs-item
          text-align: center
          position: relative
        &.active
          .nav-item
            border-bottom: 2px solid #ff6c03
            color: #ff6c03