
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  // line-height: 2;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}
  

.drawer-wrap
  .mask
    position: fixed;
    z-index: 1
    top: 0;
    bottom: 0;
    left: 0
    right: 0
    opacity: 0.3;
    background: #000;